.container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 5%;
    background-color: #ffffff;
  }
  .form-label {
    font-size: 16px;
    font-weight: 400;
  }
  .card {
    width: 25rem;
    padding: 5px;
  
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  